<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imagination Media</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="nav-container">
        <nav>
            <div class="logo">
                <a href="index.html"><img src="images/logo-icon.png" id="btnSearch" alt="Search" /></a>
            </div>
            <div class="divSearch">
               <!-- <img src="images/search-icon.png" alt="Search" id="btnSearch" /> -->
                <input type="text" class="txtSearch" placeholder="What are you looking for?" >
                
                
            </div>
            <div class="location">
                <a href="#">location</a>
            </div>
            <div class="HelpContact">
                <a href="#">help & contact</a>
            </div>
            <div class="myAccount">
                <a href="#"><img src="images/MyAccount-icon.png" id="btnSearch" alt="Search" /> My Account</a>
            </div>
            <div class="cart">
                <a href="#"><img src="images/cart-icon.png" id="btnSearch" alt="Search" /> (1)</a>
            </div>
        </nav>
    </div>
    <ul class="itens">
        <li>
            <a href="#">new collections</a>
        </li>
        <li>
            <a href="#"> brands</a>
        </li>
        <li>
            <a href="#">baby fashion</a>
        </li>
        <li>
            <a href="#">kid's fashion</a>
        </li>
        <li>
            <a href="#">teen fashion</a>
        </li>
        <li>
            <a href="#">women's fashion</a>
        </li>
        <li>
            <a href="#">home & design</a>
        </li>
        <li>
            <a href="#">toys</a>
        </li>
        <li>
            <a href="#">greenable</a>
        </li>
        <li>
            <a href="#">outlet</a>
        </li>
    </ul>
    <div class="backgroundBanner">
        <h2 class="categoryBanner">Category banner <br>name</h2>
        <img src="images/banner-background.png" class="banner-background"/>
        <img src="images/sneakers-product.png" class="sneakers"/>
    </div>
    <script src="main.js"></script>
    
</body>

</html>